<div class="grid grid-cols-2 grid-flow-col gap-4">
{% for post in postsList | reverse %}
  {% set currentPost = post.data.post %}
  <div class="{{ "row-span-2" if currentPost.isBig }}">
    <a href="{{ post.url | url }}" class="block h-full w-full">{% if currentPost.title %}{{ currentPost.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
  </div>
{% endfor %}
</div>
