{# TODO: review classes, remove inline styles? #}
{% if postsList.length %}
<ol reversed class="list-none p-0">
{% for post in postsList | reverse %}
  {% set currentPost = post.data.post %}
  <li class="p-0">
    <a href="{{ post.url | url }}" class="block no-underline">
    {% if currentPost.title %}{{ currentPost.title }}{% else %}<code>{{ post.url }}</code>{% endif %}
      <time datetime="{{ currentPost.publishedAt }}">{{ currentPost.publishedAt | readableDate }}</time>
    </a>
  </li>
{% endfor %}
</ol>
{% else %}
<p>More posts coming soon.</p>
<p>Subscribe for the latest.</p>
{% endif %}
