---
layout: layouts/home.njk
navtitle: Archive
permalink: /posts/
---

{# TODO: figure out whether navtitle works #}
<h1>Archive</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
