---
layout: layouts/home.njk
navtitle: Archive
permalink: /posts/
---

{# TODO: figure out whether navtitle works #}
<h1>Archive</h1>

{% set postsList = collections.posts %}
{% include "components/posts-list.njk" %}
