---
title: Ruckus Blog
description: Description. Update me.
layout: layouts/home.njk
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
tags:
  - nav
navtitle: Home
date: Last Modified
---

{# TODO: check whether date works #}

<div id="posts">
  <div class="mb-4">
    <h1 class="border-b">Pinned Posts</h1>

    {% set postsList = collections.pinnedPosts %}
    {% include "components/gallery.njk" %}
  </div>

  <div class="mb-4">
    <h1 class="border-b">All Posts</h1>

    {% set postsList = collections.unpinnedPosts %}
    {% include "components/posts-list.njk" %}
  </div>

</div>
